<template>
  <div class="flex-col w-full shadow-lg rounded-lg py-8 px-4 mx-2 bg-white z-10">

    <div class="close w-8 h-8 absolute top-0 right-0 pt-2 pr-2">
      <svg @click="togglePopup" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve">
        <g id="X">
          <line id="_x5C_" fill="none" stroke="black" stroke-width="10" transform="translate(5, 5)" stroke-miterlimit="10"
                x1="5" y1="5" x2="50" y2="50" stroke-linecap="round"/>
          <line id="_x2F_" fill="none" stroke="black" stroke-width="10" transform="translate(5, 5)" stroke-miterlimit="10"
                x1="5" y1="50" x2="50" y2="5" stroke-linecap="round"/>
        </g>
      </svg>

    </div>

<!--    <div class="text-center text-lg font-bold">{{ $t('Need help') }}</div>-->

    <header class="text-center text-lg font-bold">
      <slot name="header"></slot>
    </header>
    <main class="py-8">
      <slot name="main"></slot>
    </main>
    <footer>
      <slot name="footer"></slot>
    </footer>

  </div>
</template>

<script>
import {mapActions} from "vuex";

export default {
  name: "popUp",
  methods: {
    ...mapActions([
      "togglePopup"
    ])
  },
}
</script>

<style scoped>

</style>