<template>
  <div class="flex mb-4 relative">
    <div class="flex mt-0">
      <img src="@/assets/images/cross-danger.svg" class="w-8 h-8 mr-4" alt="">
    </div>
    <div class="flex-col">
      <div class="flex text-lg font-bold">{{ site.address }}</div>
      <div class="flex text-sm -mt-1">{{ $t('The site has been blocked by you for system security') }}</div>
      <div class="absolute right-0 top-0 pr-2 pt-4" >
        <span @click="deleteSite(site.address)" class=" font-bold text-gray-700 border rounded border-red-500 py-3 px-4 focus:outline-none">
          Удалить
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import {mapActions} from "vuex";

export default {
  name: "firewallListItem",
  props: {
    site: {
      type: Object,
    },
  },
  computed: {
    loading: {
      get() {
        return this.$store.state.loading
      },
      set(value){
        this.$store.state.loading = value
      }
    },
    sites: {
      get() {
        return this.$store.state.sites
      },
      set(value){
        this.$store.state.sites = value
      }
    }
  },
  methods: {
    ...mapActions([
      "togglePopup"
    ]),
    async deleteSite(url) {
      this.loading = !this.loading
      await eel.delete_records(url)((val) => {
        // Receiving a value from Python
        this.sites = JSON.parse(val);
        console.log(val)

        this.loading = !this.loading
      })
    },
  },
}
</script>

<style scoped>

</style>