<template>
  <div id="app" :class="{loading: loading, dark: dark}">
    <the-header />
    <breadcrumbs v-if="activePage != 'Home'" />



    <home-page v-if="activePage == 'Home'" />
    <files-page v-if="activePage == 'Files'" />
    <firewall-page v-if="activePage == 'Firewall'" />
    <stats-page v-if="activePage == 'Stats'" />
    <threats-page v-if="activePage == 'Threats'" />


    <the-footer />

    <div class="popUp" v-if="popup"> <!-- Support popup -->
      <pop-up>
        <template v-slot:header>
          <h1>{{ $t('Support') }}</h1>
        </template>

        <template v-slot:main>
          <p>Параграф для основного контента.</p>
          <p>И ещё один.</p>
        </template>

<!--        <template v-slot:footer>-->
<!--          <p>Некая контактная информация</p>-->
<!--        </template>-->
      </pop-up>
    </div>

  </div>
</template>

<script>

// @ is an alias to /src

import { mapGetters, mapActions, mapState } from "vuex";

import TheFooter from '@/components/mains/TheFooter.vue'
import TheHeader from "@/components/mains/TheHeader";
import breadcrumbs from "@/components/mains/breadcrumbs";
import popUp from "@/components/popUp";


import HomePage from '@/views/HomePage.vue'
import FilesPage from '@/views/FilesPage.vue'
import FirewallPage from "@/views/FirewallPage";
import ThreatsPage from "@/views/ThreatsPage";
import StatsPage from "@/views/StatsPage";





export default {
  name: 'home',
  components: {
    ThreatsPage,
    FirewallPage,
    TheFooter,
    HomePage,
    FilesPage,
    StatsPage,
    breadcrumbs,
    TheHeader,
    popUp
  },
  data () {
    return {
      test: '123',
      message: 'hui',
      response: 0,
      x:1,
      y:4,
    }
  },

  computed: {
    ...mapState([
        'activePage',
        'popup',
        'loading',
        'dark'
    ])
  },

  methods: {
    ...mapActions([
      "changePage",
    ]),

    // sum() {
    //   // Passing values to Python
    //   eel.sum(this.x, this.y)((val) => {
    //     // Return response from Python
    //     this.response = val
    //   })
    // }
  },
}
</script>


<style lang="scss">
  @import "./assets/sass/main.scss";

  .popUp {
    position: fixed;
    width: 384px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @-webkit-keyframes rotation {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
    }
  }


  .loading {
    &::after {
      content: '';
      width: 100px;
      height: 100px;
      position: absolute;
      border-radius: 100%;
      border: 8px solid white;
      border-top: 8px solid #468966;
      top: 49%;
      left: 49%;
      -webkit-animation: rotation 2s infinite linear;
      margin-left: -50px;
      margin-top: -50px;
      z-index: 999999;
    }
    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #000000;
      opacity: 0.25;
    }
  }

  .dark {
    filter: invert(100%);
    color: #000000!important;
    background-color: #505050;

    //.logo__image {
    //  filter: invert(100%);
    //}

    img {
      filter: invert(100%);
    }

  }

</style>
