@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,700|Montserrat:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;&display=swap');


/* @import 'css/bootstrap.min.css'; */



body {
  font-family: 'Nunito', sans-serif;
  background-color: #FAFAFA;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  color: #000;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

p {
  color: #726a84;
  font-size: 16px;
  font-weight: 300;
  margin-top: 0;
}

.container {
  padding: 0 12px;
}

.dots {
  top: 0;
  right: 2%;
}

.top {
  background: url('/assets/images/bg.png') repeat;
  background-repeat: space;
}

.bg-green {
  background-color: #468966;
}

.text-green {
  color: #468966;
}

.btn-secure {
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  border: 1px solid #468966;
}

.btn-secure:hover {
  background-color: #fff;
  color: #468966;
  border: 1px solid #468966;
}

.menu-card {
  transition: transform .3s ease-out;
}

.menu-card:hover {
  transform: translate(0, -5%);
}