<template>
  <section>

    <div class="container mx-auto flex my-2 breadcrumbs">
      <nav class="w-full my-2">
        <ol class="list-reset flex text-lg">
          <li>
            <div @click="changePage('Home')" class="text-gray-600">{{ $t('Home') }}</div>
          </li>
          <li class="-mt-3"><span class="mx-2 text-3xl">→</span></li>
          <li><a class="text-blue">{{ $t(activePage) }}</a></li>
        </ol>
      </nav>
    </div>

  </section>

</template>

<script>
// @ is an alias to /src

import {mapActions, mapState} from "vuex";

export default {
  name: 'Breadcrumbs',

  computed: {
    ...mapState([
      'activePage'
    ])
  },
  methods: {
    ...mapActions([
      "changePage",
    ])
  },
}
</script>


<style>

</style>
