<template>
  <div class="relative">
    <div class="flex mt-2">
<!--      <div class="hamburger ml-auto block h-10 w-12 overflow-hidden focus:outline-none" :class="{open : active}"-->
<!--              @click="active = !active">-->
<!--        <div class="h-1 w-full bg-green-600 rounded-md"></div>-->
<!--        <div class="h-1 w-full bg-green-600 my-2 rounded-md"></div>-->
<!--        <div class="h-1 w-full bg-green-600 rounded-md"></div>-->


<!--      </div>-->

      <span id="hamburger" :class="{active : active}" @click="active = !active"><span></span></span>

    </div>

    <div class="dropdown mt-2 py-2 w-48 bg-white rounded-lg shadow-xl absolute z-10" v-if="active">
<!--      <div class="block text-lg px-4 py-2 text-gray-800 hover:bg-green-600 hover:text-white">{{ $t('Settings') }}</div>-->
      <div @click="togglePopup" class="block text-lg px-4 py-2 text-gray-800 hover:bg-green-600 hover:text-white">{{ $t('Support') }}</div>
      <div @click="$store.state.dark = !$store.state.dark" class="block text-lg px-4 py-2 text-gray-800 hover:bg-green-600 hover:text-white">{{ $t('Dark Mode') }}</div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

import {mapActions, mapState} from "vuex";

export default {
  name: 'Menu',
  data() {
    return {
      active: false,
      menu: [
        {
          title: 'Settings',
        },
        {
          title: 'Support',
        }
      ]
    }
  },
  computed: {
    ...mapState([
      'activePage'
    ])
  },
  methods: {
    ...mapActions([
      "changePage",
      "togglePopup"
    ])
  },
}
</script>


<style lang="scss">



#hamburger { cursor: pointer; padding: 10px 35px 16px 0px; }
#hamburger span, #hamburger span:before, #hamburger span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 4px;
  width: 40px;
  background: #468966;
  position: absolute;
  display: inline-block;
  content: '';
}
#hamburger span:before {
  top: -12px;
}
#hamburger span:after {
  bottom: -12px;
}
/*
#hamburger span, #hamburger span:before, #hamburger span:after {
  transition: all 200ms ease-in-out;
}
*/
#hamburger span, #hamburger span:before, #hamburger span:after {
  -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -moz-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -o-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */
}
#hamburger.active span {
  background-color: transparent;
}
#hamburger.active span:before, #hamburger.active span:after {
  top: 0;
}
#hamburger.active span:before {
  transform: rotate(45deg);
}
#hamburger.active span:after {
  transform: translateY(-10px) rotate(-45deg);
  top: 10px;
}

.dropdown {
  right: 0;
}

</style>
