<template>
  <footer class="fixed bottom-0 w-full pt-8 px-4 pb-2 flex justify-between font-thin text-gray-600">
    <div class="ml-auto">{{$t('Design and development') }} <a class="underline hover:text-black" href="#">SunSecure Inc.</a></div>
  </footer>
</template>


<script>
export default {
  name: 'HelloWorld',
  data: function () {
    return {
      message: "",
      inputValue: "",
      response: ""
    }
  },
}
</script>
