<template>
  <section>

    <div class="container mt-2 mx-auto h-100">
      <div class="logo flex items-baseline justify-between">
        <div class="flex">
          <div class="logo__image">
            <img class="h-20" src="../../assets/images/sunsecure.png" alt="">
          </div>
          <div class="logo__text font-black text-2xl my-auto ml-4">Don’t worry, be safe.</div>
        </div>

        <div class="flex my-auto">

          <div class="locale-changer mr-8" >
            <select v-model="$i18n.locale" class="block w-full font-bold text-gray-700 border-b border-green-500 py-3 px-4 pr-6 focus:outline-none">
              <option class="py-3" v-for="(lang, i) in langs" :key="`Lang${i}`" :value="lang.value">{{ lang.key }}</option>
            </select>
          </div>
          <dropdown/>
        </div>

      </div>
    </div>

  </section>

</template>

<script>
// @ is an alias to /src
import dropdown from "@/components/mains/dropdown";


import {mapState} from "vuex";

export default {
  name: 'FilesPage',
  components: {
    dropdown
  },
  data() {
    return {
      langs: [
        {
        key: 'RU',
        value: 'ru'
        },
        {
        key: 'EN',
        value: 'en',
        }
        ]
    }
  },

  computed: {
    ...mapState([
      'activePage'
    ])
  },
}
</script>


<style>

</style>
