<template>
  <div class="flex mb-4 relative">
    <div class="flex mt-0">
      <img src="@/assets/images/cross-danger.svg" class="w-8 h-8 mr-4" alt="">
    </div>
    <div class="flex-col w-full">
      <div class="flex text-lg font-bold">{{ file.path }}</div>
      <div class="flex text-sm -mt-1">{{ $t('Illegal program, that can harm your PC') }}</div>
      <div class="absolute right-0 top-0 pr-2 pt-4" >
        <span @click="deleteFile(file.path)" class=" font-bold text-gray-700 border rounded border-red-500 py-3 px-4 focus:outline-none">
          Удалить
        </span>
      </div>
    </div>
  </div>

</template>

<script>
import {mapActions} from "vuex";

export default {
  name: "filesListItem",
  props: {
    file: {
      type: Object,
    },
  },
  methods: {
    ...mapActions([
      "togglePopup",
      "removeFile"

    ]),

    async deleteFile(path) {
      await eel.file_delete(path)((val) => {
        // Receiving a file path from Python
        if (val) {
          this.removeFile(path)
        }
      })
    }
  },
}
</script>

<style scoped>

</style>