<template>
  <div>
    <div class="font-bold text-2xl m-1 py-2" v-if="!folderPath">Выберите директорию</div>
    <div class="font-bold text-xl m-1 py-2" v-else>Выбрана папка - {{ folderPath }}</div>
    <div v-if="result">
      <div class="text-md m-1 py-2 text-green"  v-if="result.type">{{$t('Директория безопасна =)')}}</div>
      <div v-else>
        <div class="text-md m-1 py-2 text-red-500">Файлы опасны. Лог проверки : {{ result.body }}</div>
        <div class="mt-4">
          <div class="text-lg">Файлы добавлены в опасные. Хотите перейти в сканирование файлов и дополнительно проверить их?</div>
          <button @click.prevent="changePage('Files')" class="px-8 rounded-lg bg-green  text-white font-bold py-2 uppercase border-green-500 border">Да!</button>
          <button @click.prevent="result = ''" class="ml-4 px-8 rounded-lg bg-red-500  text-white font-bold py-2 uppercase border-green-500 border">Нет!</button>
        </div>
      </div>
      </div>
    <label class="uploader mt-4 pb-4 flex items-center text-lg">
      <button @click.prevent="getPathToFolder" class="w-48 rounded bg-green text-white font-bold py-2 btn-secure mr-4">{{ $t('Выбрать папку') }}</button>
      <button @click.prevent="scanFolder(folderPath)" class="w-48 rounded bg-green text-white font-bold py-2 btn-secure" v-if="folderPath">{{ $t('Проверить папку') }}</button>
    </label>
  </div>
</template>

<script>
// @ is an alias to /src
import { mapGetters, mapActions, mapState } from "vuex";


export default {
  name: 'FolderScan',

  data() {
    return {
      folderPath: '',
      result: '',
    }
  },

  computed: {

    ...mapState([
      'files',
      'added',
    ]),

    loading: {
      get() {
        return this.$store.state.loading
      },
      set(value){
        this.$store.state.loading = value
      }
    }
  },

  methods: {
    ...mapActions([
      'addFile',
      'addFiles',
      'changePage'
    ]),


    async getPathToFolder() {

      await eel.get_folder()((val) => {
        // Receiving a file path from Python
        this.folderPath = val
        console.log(val)
        console.log(this.folderPath)
      })
    },

    async scanFolder(folderPath) {
      this.loading = !this.loading
      await eel.folder_scanning(folderPath)((val) => {
        // Receiving a res from Python

        if (val) {
          this.result = {
            type: false,
            body: val
          }

          let viruses = Object.entries(val)

          viruses.map((virus) => {
            return this.addFiles(virus[0])
          })

        } else {
          this.result = {
            type: true
          }
        }


        this.loading = !this.loading
      })
    },

  },
}
</script>
<style scoped>

</style>