<template>
<div>

  <section class="container mx-auto">
    <div class="text-3xl font-bold mb-6">
      {{ $t('Device security') }}:
    </div>

    <transition name="slide-fade">
      <div v-if="added" class="alert-footer w-64 fixed top-1/4 right-0">
        <div class="flex items-center justify-between w-full p-2 bg-green shadow text-white text-lg font-bold py-4 px-8 rounded-l-full">
          {{ added }}
        </div>
      </div>
    </transition>

    <div class="flex flex-wrap w-full mb-6">
      <div class="sm:w-full md:w-full lg:w-3/5 xl:w-3/5 mb-2 px-6 rounded shadow-lg overflow-hidden">
        <div class="font-bold text-2xl m-1 py-2" v-if="!filePath">{{ $t('File not chosen') }}</div>
        <div class="font-bold text-xl m-1 py-2" v-else>{{ $t('Chosen file') }} - {{ filePath }}</div>
        <div v-if="result && !added">
          <div class="text-md m-1 py-2 text-green"  v-if="result.type">{{$t('Safe')}} =)</div>
          <div class="text-md m-1 py-2 text-red-500" v-else> {{$t('Danger! Checking log')}} : {{ result.body }}</div>
          <div class="mt-4">
            <div class="text-lg">{{$t('Do you want to add it to malware files?')}}</div>
            <button @click.prevent="storeFile(filePath)" class="px-8 rounded-lg bg-green  text-white font-bold py-2 uppercase border-green-500 border">{{$t('Yes')}}</button>
            <button @click.prevent="result = ''" class="ml-4 px-8 rounded-lg bg-red-500  text-white font-bold py-2 uppercase border-green-500 border">{{$t('No')}}</button>
          </div>
        </div>
        <label class="uploader mt-4 pb-4 flex items-center text-lg">
          <button @click.prevent="getPathToFile" class="w-48 rounded bg-green text-white font-bold py-2 btn-secure mr-4">{{ $t('Choose') }}</button>
          <button @click.prevent="scanFile" class="w-48 rounded bg-green text-white font-bold py-2 btn-secure" v-if="filePath">{{ $t('Check') }}</button>
        </label>
      </div>
    </div>


    <div class="sm:w-full md:w-full lg:w-3/5 xl:w-3/5">
      <files-list-item v-for="(file, index) in files" :file="file" :key="index" />
    </div>



  </section>
</div>
</template>

<script>
// @ is an alias to /src
import filesListItem from "@/components/files/filesListItem";
import { mapGetters, mapActions, mapState } from "vuex";


export default {
  name: 'FilesPage',
  components: {
    filesListItem
  },
  data() {
    return {
      filePath: '',
      result: '',
    }
  },

  computed: {

   ...mapState([
       'files',
       'added',
   ]),

    loading: {
      get() {
        return this.$store.state.loading
      },
      set(value){
        this.$store.state.loading = value
      }
    }
  },
  
  methods: {
    ...mapActions([
       'addFile'
    ]),


    async getPathToFile() {
      
      await eel.get_file()((val) => {
        // Receiving a file path from Python
        this.filePath = val
      })
    },

    async scanFile() {
      this.loading = !this.loading
      let file = this.filePath
      await eel.file_scanning(file)((val) => {
        // Receiving a res from Python
        console.log(val)

        if (val) {
          this.result = {
            type: false,
            body: val
          }
        } else {
          this.result = {
            type: true
          }
        }

        this.loading = !this.loading
      })
    },


    storeFile(filePath) {
      this.addFile(filePath)
      this.result = ''
    }

  },
}
</script>


<style>

</style>
