<template>
<div>

  <section class="container mx-auto">
    <div class="text-3xl font-bold mb-2">
      {{ $t('Device security') }}:
    </div>

    <transition name="slide-fade">
    <div v-if="added" class="alert-footer w-64 fixed top-1/4 right-0">
      <div class="flex items-center justify-between w-full p-2 bg-green shadow text-white text-lg font-bold py-4 px-8 rounded-l-full">
          {{ added }}
      </div>
    </div>
    </transition>

    <div class="flex flex-wrap w-full mb-2">
      <div class="sm:w-full md:w-full lg:w-3/5 xl:w-3/5 mb-2 px-6 py-4 rounded shadow-lg overflow-hidden">
        <div class="font-bold text-xl m-1 py-2" v-if="!filePath">Введите url для проверки</div>
        <div class="flex">
              <input class="rounded-l-lg px-4 py-2 border-t mr-0 border-b border-l text-gray-800 border-gray-200 bg-white" v-model="scanUrl" placeholder="www.yourdomain.com"/>
              <button @click.prevent="scanUrlFunc" class="px-16 rounded-r-lg bg-green  text-white font-bold py-2 uppercase border-green-500 border-t border-b border-r">Вперед!</button>
        </div>
        <div v-if="result">
          <div class="text-md m-1 py-2 text-green"  v-if="!result.positives">{{ $t('Ресурс безопасен =)') }}</div>
          <div class="text-md m-1 py-2 text-red-500" v-else>
            Сайт опасен. Желаете добавить его в список запрещенных ресурсов?
            <div class="mt-4">
              <button @click.prevent="addSite(scanUrl)" class="px-8 rounded-lg bg-green  text-white font-bold py-2 uppercase border-green-500 border">Да!</button>
              <button @click.prevent="result = ''" class="ml-4 px-8 rounded-lg bg-red-500  text-white font-bold py-2 uppercase border-green-500 border">Нет!</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-wrap w-full mb-4">
      <div class="sm:w-full md:w-full lg:w-3/5 xl:w-3/5 mb-3 px-6 py-4 rounded shadow-lg overflow-hidden">
        <div class="font-bold text-xl m-1 py-2" v-if="!filePath">Добавьте адрес в список запрещенных</div>
        <div class="flex">
          <input class="rounded-l-lg px-4 py-2 border-t mr-0 border-b border-l text-gray-800 border-gray-200 bg-white" v-model="addUrl" placeholder="www.yourdomain.com"/>
          <button @click.prevent="addSite(addUrl)" class="px-16 rounded-r-lg bg-green  text-white font-bold py-2 uppercase border-green-500 border-t border-b border-r">Вперед!</button>
        </div>
      </div>
    </div>

    <div class="items sm:w-full md:w-full lg:w-3/5 xl:w-3/5">
      <firewall-list-item v-if="sites" v-for="(site,index) in sites" :site="site" :key="index" />
    </div>
  </section>




  <img src="../assets/images/octagon.png" class="fixed bottom-0 right-0" alt="">
<!--  <div class="absolute top-0 right-0">-->
<!--    <img src="../assets/images/dots.png" class="mr-4 mt-4" alt="">-->
<!--  </div>-->


</div>
</template>

<script>
// @ is an alias to /src
import firewallListItem from "@/components/firewall/firewallListItem";


export default {
  name: 'FirewallPage',
  components: {
    firewallListItem
  },
  data() {
    return {
      scanUrl: '',
      addUrl: '',
      result: '',
      added: false,
    }
  },
  computed: {
    loading: {
      get() {
        return this.$store.state.loading
      },
      set(value){
        this.$store.state.loading = value
      }
    },
    sites: {
      get() {
        return this.$store.state.sites
      },
      set(value){
        this.$store.state.sites = value
      }
    }
  },
  async mounted() {
    await eel.get_all_records()((val) => {
      this.sites = JSON.parse(val);
    })
  },
  methods: {
    async scanUrlFunc() {
      this.loading = !this.loading
      let url = this.scanUrl
      await eel.site_scanning(url)((val) => {
        // Receiving a value from Python
        this.result = val
        console.log(val)
        console.log(this.result)
        this.loading = !this.loading
      })
    },

    async addSite(url) {
      this.loading = !this.loading
      await eel.insert_new_record(url, 'DROP')((val) => {
        // Receiving a value from Python
        this.sites = JSON.parse(val);
        this.loading = !this.loading
        this.added = 'Добавлено'
        setTimeout(() => this.added = false, 3000)
      })
    },
  },
}

</script>


<style>
/* Анимации появления и исчезновения могут иметь */
/* различные продолжительности и динамику.       */
.slide-fade-enter-active {
  transition: all .5s ease;
}
.slide-fade-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active до версии 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.items {
  height: 250px;
  max-height: 250px;
  overflow-y: scroll;
}
</style>
