<template>
  <div>
    <section class="top mt-4 relative shadow-xl">
      <div class="flex safety pt-10 pb-12">
        <div class="flex w-2/5 safety__image justify-end">
          <img src="../assets/images/safety.svg" class="h-48 pr-8" alt="">
        </div>
        <div class="flex w-3/5 safety__content justify-center">
          <div class="flex-col w-4/5 xl:w-3/5">
            <div class="flex">
              <img src="../assets/images/cross-danger.svg" v-if="files.length" class="h-16 mr-4" alt="">
              <img src="../assets/images/safety_shield.svg" v-else class="h-16 mr-4" alt="">
              <div class="flex-col">
                <div class="text-2xl" v-if="files.length">{{ $t('System not in safety') }}</div>
                <div class="text-2xl" v-else>{{ $t('System in safety') }}</div>
                <div>{{ $t('Last check') }} : 2.1.2021</div>
              </div>
            </div>
            <div class="flex-col mt-6 pr-12">
              <button class="w-full rounded bg-green text-white font-bold py-2 btn-secure" @click.prevent="scanPopup = true">{{ $t('Scan files') }}</button>
              <button @click.prevent="changePage('Firewall')" class="w-full rounded bg-green text-white font-bold py-2 mt-2 btn-secure">{{ $t('Internet Security') }}</button>
            </div>


          </div>
        </div>
      </div>

    </section>
    <section class="bottom">
      <div class="container mx-auto mt-16 mb-12">
        <div class="flex">
          <div @click="changePage('Files')" class="flex-col w-1/3 shadow-lg rounded-lg py-8 px-4 mx-2 menu-card">


              <div class="text-center text-lg font-bold">        {{ $t('Blocked files') }}
              </div>
              <img src="../assets/images/folder.png" class="mx-auto mt-6" alt="">
          </div>



          <div @click.prevent="changePage('Firewall')" class="flex-col w-1/3 shadow-lg rounded-lg py-8 px-4 mx-2 menu-card">

              <div class="text-center text-lg font-bold">{{ $t('Internet Security') }}</div>
              <img src="../assets/images/web.png" class="mx-auto mt-6" alt="">

          </div>

          <div @click.prevent="changePage('Stats')" class="flex-col w-1/3 shadow-lg rounded-lg py-8 px-4 mx-2 menu-card">
              <div class="text-center text-lg font-bold">{{ $t('Stats') }}</div>
              <img src="../assets/images/chart.png" class="mx-auto mt-6" alt="">
          </div>


        </div>
      </div>
    </section>

<!--    <div class="absolute top-0 right-0">-->
<!--      <img src="../assets/images/dots.png" class="mr-4 mt-4" alt="">-->
<!--    </div>-->



        <div class="sm:w-full md:w-full lg:w-3/5 xl:w-3/5 mb-2 px-6 rounded shadow-lg overflow-hidden mx-auto relative p-8" id="scan-popup" v-if="scanPopup">
          <div class="close w-8 h-8 absolute top-0 right-0 pt-2 pr-2" @click="scanPopup = false">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve">
              <g id="X">
                <line id="_x5C_" fill="none" stroke="black" stroke-width="10" transform="translate(5, 5)" stroke-miterlimit="10"
                      x1="5" y1="5" x2="50" y2="50" stroke-linecap="round"/>
                <line id="_x2F_" fill="none" stroke="black" stroke-width="10" transform="translate(5, 5)" stroke-miterlimit="10"
                      x1="5" y1="50" x2="50" y2="5" stroke-linecap="round"/>
              </g>
            </svg>
          </div>

          <folder-scan />

        </div>
  </div>
</template>

<script>
// @ is an alias to /src
import { mapGetters, mapActions, mapState } from "vuex";
import folderScan from "../components/files/folderScan";


export default {
  name: 'HomePage',

  components: {
    folderScan
  },

  data() {
    return {
      scanPopup: false
    }
  },

  computed: {

    ...mapState([
      'files',
    ]),
  },

  methods: {
    ...mapActions([
        'changePage'
    ])
  },
}
</script>


<style>
 #scan-popup {
   position: absolute;
   z-index: 9;
   top: 50%;
   left: 50%;
   transform: translate( -50%, -50%);
   background-color: white;
 }
</style>
