<template>
  <div>

    <section class="container flex justify-around mx-auto">

      <div class="flex-col w-1/3">
        <div class="text-lg font-bold mb-6">
          {{ $t('Device Stats') }}
        </div>

        <div class="flex w-full">
          <pie-chart v-if="localChartData.datasets[0].data" :chartdata="this.localChartData" :options="this.options"/>
        </div>
      </div>

      <div class="flex-col w-1/3">
        <div class="text-lg font-bold mb-6">
          {{ $t('Global Stats') }}
        </div>

        <div class="flex w-full">
          <div class="flex w-1/2">
            <bar-chart v-if="globalChartData.datasets[0].data" :chartdata="this.globalChartData" :options="this.options"/>
          </div>
        </div>

      </div>

    </section>
  </div>



</template>

<script>
// @ is an alias to /src
import lineChart from "@/components/charts/line";
import barChart from "@/components/charts/bar";
import pieChart from "@/components/charts/pie";
import {mapState} from "vuex";


export default {
  name: 'StatsPage',
  components: {
    lineChart,
    barChart,
    pieChart,
  },
  data() {
    return {
      localChartData: {
        labels: ['Вирусы', 'Опасные сайты'],
        datasets: [
          {
            label: 'Типы угроз',
            backgroundColor: ["#41B883", "#00D8FF"],
            data: '',
          }
        ]
      },
      globalChartData: {
        labels: [
            'Trojan',
            'File Infector',
            'PUA',
            'Adware',
            'Worm',
            'Riskware',
            'Other',
        ],
        datasets: [
          {
            label: 'Типы угроз',
            backgroundColor: '#f87979',
            data: '',
          }
        ]
      },

      options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    }
  },

  computed: {
    ...mapState([
        'files',
        'sites'
    ])
  },

  created() {
    this.localChartData.datasets[0].data = [this.files.length, this.sites.length]
    this.globalChartData.datasets[0].data = [30.42, 25.36, 13.56, 6.69, 3.94, 2.25, 1.30]

  },

}
</script>


<style>

</style>
