<template>
  <div>

    <section class="container mx-auto">
      <div class="text-lg font-bold mb-6">
        Защита системы:
      </div>


      <div class="flex mb-4">
        <div class="flex mt-0">
          <img src="../assets/images/safety_shield.svg" class="w-8 h-8 mr-4" alt="">

        </div>
        <div class="flex-col">
          <div class="flex text-lg font-bold">C:\Windows\System32\SppExtComObjPatcher.exe</div>
          <div class="flex text-sm -mt-1">Нелегальная программа, которая может нанести вред вашему компьютеру
          </div>
        </div>
      </div>

      <div class="flex mb-4">
        <div class="flex mt-0">
          <img src="../assets/images/safety_shield.svg" class="w-8 h-8 mr-4" alt="">

        </div>
        <div class="flex-col">
          <div class="flex text-lg font-bold">C:\Windows\System32\SppExtComObjPatcher.exe</div>
          <div class="flex text-sm -mt-1">Нелегальная программа, которая может нанести вред вашему компьютеру
          </div>
        </div>
      </div>

    </section>





    <img src="../assets/images/octagon.png" class="fixed bottom-0 right-0" alt="">
    <div class="absolute top-0 right-0">
      <img src="../assets/images/dots.png" class="mr-4 mt-4" alt="">
    </div>


  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'ThreatsPage',
}
</script>


<style>

</style>
